
<div class="invoice-detail-container">
    <!-- go back -->
    <button class="go-back" [routerLink]="['/']">
        <img src="../../../assets/svgs/icon-arrow-left.svg" alt="left arrow on back button for routing to the previous page">
        <span>
            Go back
        </span>
    </button>

    <!-- status & operations container -->
    @for (invoice of invoiceData$ | async; track $index) {
        <section class="status_operations-container">
            <!-- status -->
            <div class="status-container">
                <p class="status">
                    Status
                </p>
                <div class="type">
                    <img src="" alt="">
                    <p class="type-of-status">
                        {{ invoice.status }}
                    </p>
                </div>
            </div>
    
            <!-- operations -->
            <div class="operations">
                <!-- edit -->
                <button class="edit">Edit</button>
    
                <!-- delete -->
                <button class="delete">Delete</button>
    
                <!-- mark as paid -->
                <button class="mark-as-paid">Mark as Paid</button>
            </div>
        </section>
    
        <!-- invoice data container -->
        <section class="invoice-data-container">
            <!-- invoice id & sender details -->
            <section class="invoice_sender-details-container">
                <div class="invoice-data">
                    <p class="invoice-id">
                        #{{ invoice.id }}
                    </p>
                    <p class="description">
                        {{ invoice.description}}
                    </p>
                </div>
    
                <!-- senders data -->
                <div class="senders-address">
                    <p class="street">{{ invoice.senderAddress.street }}</p>
                    <p class="city">{{ invoice.senderAddress.city }}</p>
                    <p class="postal-code">{{ invoice.senderAddress.postCode }}</p>
                    <p class="country">{{ invoice.senderAddress.country }}</p>
                </div>
            </section>
    
            <!-- client purchase & client details -->
            <section class="purchase-date_client-details-container">
                <!-- purchase data and client name -->
                <div class="purchase_data">
                    <div class="purchase-dates">
                        <div class="purchase-container">
                            <p class="title">Invoice Date</p>
                            <p>
                                {{ invoice.createdAt | date:'dd MMM yyyy'}}
                            </p>
                        </div>
    
                        <div class="payment-container">
                            <p class="title">Payment Date</p>
                            <p>
                                {{ invoice.paymentDue | date:'dd MMM yyyy'}}
                            </p>
                        </div>
                    </div>
    
                    <div class="client-data">
                        <p class="title">Bill to</p>
                        <p class="data">{{ invoice.clientName }}</p>
                        <div class="client-address">
                            <p class="street">{{ invoice.clientAddress.street }}</p>
                            <p class="city">{{ invoice.clientAddress.city }}</p>
                            <p class="postal-code">{{ invoice.clientAddress.postCode }}</p>
                            <p class="country">{{ invoice.clientAddress.country }}</p>
                        </div>
    
                    </div>
                </div>
    
                <!-- client email address -->
                <div class="client-email-containe">
                    <p class="title">Send to</p>
                    <p class="data">
                        {{ invoice.clientEmail }}
                    </p>
                </div>
    
            </section>
    
            <section class="invoice-purchase-data">
                <!-- Item name, qty price total -->
                <header>
                    <p>Item Name</p>
                    <p>QTY.</p>
                    <p>Price</p>
                    <p>Total</p>
                </header>
                @for (item of invoice.items; track $index) {
                    <section>
                        <p class="name dark-bold">{{ item.name }}</p>
                        <p class="qty primary-faded-bold">{{ item.quantity }}</p>
                        <p class="unit-price primary-faded-bold">{{ item.price | currency:'GBP' }}</p>
                        <p class="total-price dark-bold">{{ item.total | currency:'GBP' }}</p>
                    </section>

                }
    
                <div class="amount-due">
                    <p>Amount Due</p>
                    <p class="total-cummulation-price">{{ invoice.total | currency:'GBP'}}</p>
                </div>
    
            </section>
              
        </section>

    }






</div>

