
<div class="invoice-detail-container">
    <!-- go back -->
    <button class="go-back">
        <img src="../../../assets/svgs/icon-arrow-left.svg" alt="left arrow on back button for routing to the previous page">
        <span>
            Go back
        </span>
    </button>

    <!-- status & operations container -->
    <section class="status_operations-container">
        <!-- status -->
        <div class="status-container">
            <p class="status">
                Status
            </p>
            <div class="type">
                <img src="" alt="">
                <p class="type-of-status">
                    Paid
                </p>
            </div>
        </div>

        <!-- operations -->
        <div class="operations">
            <!-- edit -->
            <button class="edit">Edit</button>

            <!-- delete -->
            <button class="delete">Delete</button>

            <!-- mark as paid -->
            <button class="mark-as-paid">Mark as Paid</button>
        </div>
    </section>

    <!-- invoice data container -->
    <section class="invoice-data-container">
        <!-- invoice id & sender details -->
        <section class="invoice_sender-details-container">
            <div class="invoice-data">
                <p class="invoice-id">
                    #idNumber
                </p>
                <p class="about">
                    Graphic design
                </p>
            </div>

            <!-- senders data -->
            <div class="senders-address">
                <p class="street">something street</p>
                <p class="city">city</p>
                <p class="postal-code">233</p>
                <p class="country">country</p>
            </div>
        </section>

        <!-- client purchase & client details -->
        <section class="client-purchase_client-details-container">
            <!-- purchase data and client name -->
            <div class="client-purchase_data">
                <div class="purchase">
                    <div class="purchase-container">
                        <p class="title">Invoice Date</p>
                        <p>
                            2nd Oct 2003
                        </p>
                    </div>

                    <div class="payment-container">
                        <p class="title">Payment Date</p>
                        <p>
                            12 Oct 2003
                        </p>
                    </div>
                </div>

                <div class="client-data">
                    <p class="title">Bill to</p>
                    <p class="data">User name</p>
                    <div class="client-address">
                        <p class="street">something street</p>
                        <p class="city">city</p>
                        <p class="postal-code">233</p>
                        <p class="country">country</p>
                    </div>

                </div>
            </div>

            <!-- client email address -->
            <div class="client-email-containe">
                <p class="title">Send to</p>
                <p class="data">
                    something&#64;sdf.com
                </p>
            </div>

        </section>
          
    </section>






</div>

