
<div class="container">
    <header>
        <h1>{{ invoiceId ? 'Edit ' + invoiceId : 'New Invoice' }}</h1>
    </header>
    
    
    <form [formGroup]="invoiceForm" (ngSubmit)="invoiceId ? saveChanges() : onSubmit()">
        <div class="fields">
            <section>
                <fieldset class="senders-address-container" formGroupName="senderAddress">
                    <legend>Bill From</legend>
                    <div class="sender-address">
                        <label for="street-address">
                            Street Address
                        </label>
                        <input type="text" formControlName="street" id="address">
                    </div>
                    <div class="city">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" id="city">
                    </div>
                    <div class="post-code">
                        <label for="post-code">Post Code</label>
                        <input type="text" formControlName="postCode" id="post-code">
                    </div>
                    <div class="country">
                        <label for="post-code">Country</label>
                        <input type="text" formControlName="country" id="country">
                    </div>
                </fieldset>
            </section>
            
            <section>
                <fieldset formGroupName="clientAddress">
                    <legend>Bill to</legend>
                    <div class="client-name">
                        <label for="client-name">
                            Client's Name
                        </label>
                        <input type="text" formControlName="clientName" id="client-name">
                    </div>
                    <div class="client-email">
                        <label for="client-email">
                            Client's Email
                        </label>
                        <input type="text" formControlName="clientEmail" id="client-email">
                    </div>
                    <div class="street-address">
                        <label for="street-address">
                            Street Address
                        </label>
                        <input type="text" formControlName="street" id="address">
                    </div>
                    <div class="city">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" id="city">
                    </div>
                    <div class="post-code">
                        <label for="post-code">Post Code</label>
                        <input type="text" formControlName="postCode" id="post-code">
                    </div>
                    <div class="country">
                        <label for="post-code">Country</label>
                        <input type="text" formControlName="country" id="country">
                    </div>
                </fieldset>
            </section>
    
            <section class="about-invoice">
                <div class="created-at">
                    <label for="created-at">Invoice Date</label>
                    <p-calendar formControlName="createdAt"
                    [iconDisplay]="'input'" 
                    [showIcon]="true" 
                    inputId="icondisplay" 
                     />
                </div>
                <div class="payment-date">
                    <label for="payment-due">Payment Terms</label>
                    <p-dropdown 
                    formControlName="paymentDue" 
                    [options]="paymentDueOptions"
                    optionLabel="name"
                    placeholder="Due date" />
                </div>
                <div class="description">
                    <label for="description">Project description</label>
                    <input type="text" formControlName="description" id="description">
                </div>
            </section>
    
            <section class="items">
                <h2>Items</h2>
                <div class="item-headers">
                    <p>Item Name</p>
                    <p>Qty.</p>
                    <p>Price</p>
                    <p>Total</p>
    
                </div>
                <div class="item-list-container" formArrayName="items">
                    @for (item of items.controls; track $index) {
                        <div class="item-list" [formGroupName]="$index">
                            <input class="name-data" type="text" formControlName="name">
                            <input class="qty-data" type="number" formControlName="quantity">
                            <input class="price-data" type="number" formControlName="price">
                            <input class="total-price-data" type="number" formControlName="total">
                            <button class="remove-item" (click)="removeItem($index)">
                                <svg width="13" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z" fill="#888EB0" fill-rule="nonzero"/></svg>
                            </button>
                        </div>
                    }
                </div>
                <button class="add-new-item" type="button" (click)="addItems()">+ Add New Item</button>
            </section>
        </div>

        @if (invoiceId) {
            <section class="btns edit-form-btns">
                <button type="button" class="discard" (click)="discard()">Cancel</button>
                
                <button type="submit" class="save_send">Save Changes</button>
            </section>

        }@else {
            <section class="btns">
                <button type="button" class="discard" (click)="discard()">Discard</button>
                <button type="button" class="save-as-draft" (click)="saveAsDraft()">Save as Draft</button>
                <button type="submit" class="save_send">Save & Send</button>
            </section>

        }

    
    </form>

</div>