<!-- header -->
<header>
    <section class="page-title">
        <h1 class="title">Invoice</h1>
        <p class="status">
            There are 7 total invoices
        </p>
    </section>

    <section class="filter">
        <p>Filter by status</p>
        <!-- svg -->
        <img src="../../../assets/svgs/icon-arrow-down.svg" alt="down arrow svg icon on filter dropdown">
    </section>

    <!-- create a new invoice -->
    <section class="new-invoice">
        <!-- svg -->
        <p>New Invoice</p>
    </section>
    
</header>

<!-- content -->
<main>
    <div class="invoice">
        <!-- id -->
        <p class="id"></p>
        <!-- date -->
        <p class="date"></p>
        <!-- name -->
        <p class="name"></p>
        <!-- price -->
        <p class="price"></p>
        <!-- status -->
        <p class="status"></p>
    </div>

</main>