<!-- header -->
@if ( state | async ) {
    <header>
        <section class="page-title">
            <h1 class="title">Invoice</h1>
            <p class="status">
                There are 7 total invoices
            </p>
        </section>
    
        <section class="filter">
            <!-- would need to display this dynamically for different viewport -->
            <p>Filter</p>
            <!-- svg -->
            <img src="../../../assets/svgs/icon-arrow-down.svg" alt="down arrow svg icon on filter dropdown">
        </section>

        <!-- filter dropdown -->
        <section class="filter-dropdown-menu">
            <div class="draft">
                <input type="checkbox" name="draft" id="draft-checkbox">
                <p>draft</p>
            </div>
            <div class="pending">
                <input type="checkbox" name="pending" id="pending-checkbox">
                <p>pending</p>
            </div>
            <div class="paid">
                <input type="checkbox" name="paid" id="paid-checkbox">
                <p>paid</p>
            </div>
        </section>
    
        <!-- create a new invoice -->
        <section class="new-invoice">
            <!-- svg -->
            <p>New Invoice</p>
        </section>
        
    </header>
    
    <!-- content -->
    <main>
        @for (invoice of data | async; track $index) {
            <div class="invoice">
                <!-- id -->
                <p class="id">
                    {{ invoice.id }}
                </p>
                <!-- date -->
                <p class="date">
                    {{ invoice.createdAt}}
                </p>
                <!-- name -->
                <p class="name">
                    {{ invoice.clientName }}
                </p>
                <!-- price -->
                <p class="price">
                    {{ invoice.paymentTerms}}
                </p>
                <!-- status -->
                <p class="status">
                    {{ invoice.status }}
                </p>
            </div>

        }
        <!-- <div class="invoice">
            <!-- id --
            <p class="id"></p>
            <!-- date --
            <p class="date"></p>
            <!-- name --
            <p class="name"></p>
            <!-- price --
            <p class="price"></p>
            <!-- status --
            <p class="status"></p>
        </div> -->
    
    </main>

    
}@else {
    <div class="empty-container">
        <!-- img -->
        <img src="../../../assets/svgs/illustration-empty.svg" alt="illustration depicting an empty invoice collection is empty">
        
        <article>
            <!-- title -->
            <h2 class="page-title">
                There is nothing here
            </h2>
            <!-- description -->
            <p class="page-description">
                Create an invoice by clicking the <strong>New</strong> button and get started
            </p>

        </article>
    </div>
}