
<div class="top">
    <!-- logo -->
    <div class="logo-container">
        <img class="logo" src="../../../assets/svgs/logo.svg" alt="application logo">

    </div>
    
    <!-- theme icon / toggle -->
    <img class="theme-icon" src="../../../assets/svgs/icon-moon.svg" alt="moon icon to toggle application theme state for light or dark mode">

</div>

<!-- user avatar -->
<div class="avatar-container">
    <img class="avatar" src="../../../assets/svgs/image-avatar.jpg" alt="user's profile picture">

</div>