<!-- go back -->

<!-- header -->
<p class="title">
    New Invoice
</p>

<form >
    <fieldset>
        <legend> Bill From </legend>
        <div class="street-address-container">
            <label for="street-address">Street address</label>
            <input type="text" name="street-address" id="street-addres">
        </div>
        <div class="city-container">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
        </div>
        <div class="post-code-container">
            <label for="post-code">Post code</label>
            <input type="text" name="post-code" id="post-code">
        </div>
        <div class="country-container">
            <label for="country">Country</label>
            <input type="text" name="country" id="country">
        </div>
    </fieldset>
    <fieldset>
        <legend> Bill To </legend>
    </fieldset>
</form>