
<div class="container">
    <!-- top section / page nav -->
    <nav>
        <!-- invoice details -->
        <section class="details">
            <h1>Invoice</h1>
            <p class="description">
                @if ((invoice$ | async)?.length === 0) {
                    No invoice
                } @else {
                    There are {{ (invoice$ | async)?.length }} total invoices
                }
            </p>
        </section>
    
        <section class="invoice-operations">
            <!-- filter -->
            <div class="filter-container">
                <button class="text" (click)="toggleFilterDropdown()">
                    <p class="filter-text">Filter by status</p>
                    <img src="../../../assets/svgs/icon-arrow-down.svg" alt="filter menu arrow icon">
                </button>

                <!-- dropdown menu -->
                @if (dropdownIsActive) {
                    <form class="filter-dropdown" (click)="handleFilterOptions($event)">
                        <div class="draft-container">
                            <input type="checkbox" name="draft" id="draft" #draft>
                            <label for="draft">Draft</label>
                        </div>
                        <div class="pending-container">
                            <input type="checkbox" name="pending" id="pending" #pending>
                            <label for="pending">Pending</label>
                        </div>
                        <div class="paid-container">
                            <input type="checkbox" name="paid" id="paid" #paid>
                            <label for="paid">Paid</label>
                        </div>
                    </form>
                }
            </div>

        
            <!-- add invoice button -->
            <button class="add-invoice">
                <!-- svg icon -->
                <span>
                    <img src="../../../assets/svgs/icon-plus.svg" alt="add invoice svg add icon">
                </span>
                <p>New invoice</p>
            </button>

        </section>
    </nav>
    
    <section class="invoice-list">
        @if((invoice$ | async)?.length === 0) {
            <section class="empty">
                <img src="../../../assets/svgs/illustration-empty.svg" alt="svg image indicating no invoice to be display">
    
                <h2>
                    There is nothing here
                </h2>
    
                <p class="empty-message-description">
                    Create an invoice by clicking the <span>New Invoice</span> button and get started
                </p>
            </section>

        }@else {
            <section class="invoice-container">
                @for (invoice of invoice$ | async; track $index) {
                    <app-invoice-item 
                        [invoice]="invoice"
                    />
                }
            </section>
        }
    </section>

</div>