<!-- id -->
<p class="invoice-id">
    <span>#</span>{{ invoice.id }}
</p>

<!-- date -->
<p class="invoice-date">
    Due {{ invoice.createdAt | date:'dd MMM yyyy' }}
</p>

<!-- name -->
<p class="client-name">
    {{ invoice.clientName}}
</p>

<!-- amount -->
<p class="amount">
    {{ invoice.total | currency }}
</p>

<!-- status -->
<p class="status">
    {{ invoice.status }}
</p>

<figure>
    <img src="../../../assets/svgs/icon-arrow-right.svg" alt="right arrow svg icon on invoice item for further details about the invoice">
</figure>