.container {
    width: min(480px, 90%);
    height: fit-content;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-white);
}

.btn-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}